{% extends 'base.html.twig' %}

{% block body %}
	{% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<form action="{{ path('ff_customer_login') }}" method="post">
		<label for="username">Username:</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}" />
		<label for="password">Password:</label>
		<input type="password" id="password" name="_password"/>
		<button type="submit">login</button>
	</form>
	
	<div class="row">
		<a href="{{ path('customer_forgotten_password') }}">Forgot your password</a>
	</div>
{% endblock %}
