{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>About Us</h1>
    </div>
    <div class="row">
        <p>Loremipsum dolor set amet,...</p>
    </div>
{% endblock %}

