{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Contact Us</h1>
    </div>
    <div class="row">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

